h1 {
    letter-spacing: 1px;
}

footer {
    font-size: 14px;
}

form button {
    width: 100%;
}

.justify-text {
  text-align: justify;
}

.btn-repositorio:hover,
.btn-demo:hover {
    background-color: #ffffff !important;
    color: black !important;
}

